.side_menu_desktop {
  margin-top: 15px;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 15px;
  position: relative;
  /* right: 8px; */
  background-color: var(--filling_background-color_global);
}

.side_menu_desktop ul li {
  gap: 15px;
  padding: 12px 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: var(--side_menu_desktop_ul_li_border-radius);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  text-wrap: nowrap;
  position: relative;
}

/* .side_menu_desktop ul li:first-child {
  padding: 17px 14px 14px 14px;
}

.side_menu_desktop ul li:last-child {
  padding: 14px 14px 17px 14px;
} */

.side_menu_desktop ul li a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.help svg {
  width: 24px;
  height: 24px;
  position: relative;
  stroke: var(--stroke_global);
  fill: var(--fill_global);
}

.crystal svg {
  width: 24px;
  height: 24px;
  fill: var(--fill_global);
  stroke: var(--stroke_global);
  stroke-width: 3;
}

.like svg {
  width: 22px;
  height: 22px;
  stroke: var(--stroke_global);
  fill: none;
}

.settings svg {
  width: 24.5px;
  height: 24.5px;
  stroke: var(--stroke_global);
}

.photo svg {
  width: 23px;
  height: 23px;
  fill: var(--fill_global);
}

.video svg {
  stroke: var(--stroke_global);
  width: 24px;
  height: 24px;
  position: relative; 
}

.user svg {
  width: 24px;
  height: 24px;
  position: relative;
  stroke: var(--stroke_global);
}

.messages svg {
  width: 23px;
  height: 23px;
  stroke: var(--stroke_global);
}

.friends svg {
  stroke: var(--stroke_global);
  width: 24px;
  height: 24px;
}

.groups svg {
  width: 24px;
  height: 24px;
  stroke: var(--stroke_global);
}

.bookmark svg {
  stroke: var(--stroke_global);
  width: 24px;
  height: 24px;
}

.agreements svg {
  fill: var(--fill_global);
  width: 22px;
  height: 22px;
}

@media (max-width: 1200px) {
  .side_menu_desktop ul li:active {
    background-color: var(--item_hover_global);
    transition: var(--transition_background-color_hover_global);
  }
}

@media (max-width: 1170px) {

  .side_menu_desktop svg {
    width: 26px;
    height: 26px;
  }

  .side_menu_desktop p {
    display: none;
  }

  .side_menu_desktop ul {
    display: grid;
    gap: var(--side_menu_desktop_ul_gap); 
  }

  .side_menu_desktop ul li {
    padding: var(--side_menu_desktop_ul_li_padding);
  }
}

@media (min-width: 1200px) {
  .side_menu_desktop ul li:hover {
    background-color: var(--item_hover_global);
    transition: var(--transition_background-color_hover_global);
  }
}

/* variables */
/* theme colors */
[data-side-menu-desktop-dark-theme="true"] {
  --side_menu_desktop_ul_li_border-radius: 0px;
  --side_menu_desktop_ul_li_padding: 13px;
  --side_menu_desktop_ul_gap: 0px;
}

[data-side-menu-desktop-dark-theme="false"] {
  --side_menu_desktop_ul_li_border-radius: 22px;
  --side_menu_desktop_ul_li_padding: 10px;
  --side_menu_desktop_ul_gap: 3px;
}

/* /theme colors */
/* /variables */