.posts_wrap {
  margin-bottom: var(--content_margin_bottom_global);
}

.loader {
  height: 21px;
  width: 21px
}

.loader_first_loading {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader_infinite_scroll {
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1005px) {
  .posts_wrap {
    margin-bottom: 0px;
  }

  .loader_infinite_scroll {
    top: 20px;
  }
}