.left_side {
  scrollbar-color: var(--scrollbar_color_global);
  scrollbar-width: thin;
  overflow: hidden;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 3px;
  min-width: 207px;
  max-width: 207px;
}

.left_side_not_authorized_user {
  padding-right: 3px;
}

.logo_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12px;
  position: sticky;
  top: 0;
  background-color: var(--logo_wrap_background-color);
  border-radius: 8px;
  backdrop-filter: saturate(180%) blur(2px);
  -webkit-backdrop-filter: saturate(180%) blur(2px);
  cursor: pointer;
  z-index: 2;
  width: 100%;
}

.logo_wrap_user_not_authorized {
  justify-content: center;
}

.logo_wrap a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.logo_user_authorized {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-left: 12px;
}

.logo_user_not_authorized {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-left: 0px;
}

.logo_user_not_authorized p {
  font-size: 28px;
  letter-spacing: 2.6px;
  font-weight: 700;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.logo_user_authorized p {
  font-size: 28px;
  letter-spacing: 2.6px;
  font-weight: 700;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.crystal_icon svg {
  display: flex;
  fill: var(--fill_global);
  stroke: var(--stroke_global);
  stroke-width: 3;
  position: relative;
  width: 32px;
  height: 32px;
}

@media (max-width: 1170px) {

  .left_side {
    min-width: auto;
  }

  .left_side_not_authorized_user {
    min-width: 182px;
    max-width: 182px;
  }

  .logo_user_not_authorized p {
    margin-left: 0px;
    display: block;
    font-size: 25px;
    letter-spacing: 2.6px;
  }

  .logo_user_not_authorized .crystal_icon svg {
    width: 27px;
    height: 27px;
  }

  .logo_user_not_authorized {
    margin-left: 0px;
    left: 0px;
  }

  .crystal_icon svg {
    width: 35px;
    height: 35px;
  }

  .side_menu_desktop p {
    display: none;
  }

  .logo_user_authorized p {
    display: none;
  }

  .logo_user_authorized {
    margin-left: var(--logo_margin_left);
    left: var(--logo_left);
  }

}

/* variables */
[data-left-side-dark-theme="true"] {
  --logo_wrap_background-color: #0000004b;
  --logo_margin_left: 3px;
  --logo_left: 8px;
}

[data-left-side-dark-theme="false"] {
  --logo_wrap_background-color: rgba(255, 255, 255, 0.449);
  --logo_margin_left: 0px;
  --logo_left: 5px;
}

/* /variables */