.create_post {
  background-color: var(--filling_background-color_global);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: var(--content_margin_bottom_global);
  padding: 0 15px 25px 15px;
  border-top: none !important;
  border: var(--border_disappears_in_dark_theme_global);
}

.create_post button:active {
  background-color: var(--button_hover);
  transition: var(--transition_background-color_active_global);
}

.title {
  padding-top: 25px
}

.title h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 22px;
}

.main_image {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: -8px;
  max-height: 290px;
  width: 100%;
  overflow: hidden;
  border-radius: 9px;
  position: relative;
  border: var(--border_global);
}

.main_image img {
  width: 100%;
  height: 100%;
}

.main_image_loading_bar_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.main_image_loading_bar {
  width: 65px;
  position: absolute;
  top: 13px;
  z-index: 2;
}

.main_image_loading_status_error_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.main_image_loading_status_error {
  position: absolute;
  top: 8px;
  z-index: 1;
}

.main_image_loading_status_error p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-wrap: nowrap;
}

.add_delete_main_image_buttons_wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 23px;
  gap: 17px;
}

.add_delete_main_image_buttons_wrap button {
  background-color: var(--button_background-color);
  border: var(--button_border);
  box-shadow:
    var(--button_box-shadow);
  padding: 9px;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: var(--button_color);
  letter-spacing: 0.5px;
  transition-property: border, background-color;
}

.post_title {
  margin-top: 25px;
}

.post_title textarea {
  width: 100%;
  resize: none;
  line-height: 31px;
  border: var(--textarea_border);
  border-radius: 7px;
  padding: 9px 10px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 19px;
  background-color: var(--filling_background-color_global);
  transition-property: border, background-color;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 30px;
  resize: none;
}

.post_title textarea::placeholder {
  color: rgba(116, 116, 116, 0.806);
  font-weight: 400;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.post_title_letter_counter {
  margin: 4px 15px 0 15px;
}

.post_title_letter_counter p {
  text-align: right;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  margin-top: 15px;
}

.text textarea {
  width: 100%;
  line-height: 31px;
  padding: 10px;
  border: var(--textarea_border);
  border-radius: 7px;
  min-height: 70px;
  background-color: var(--filling_background-color_global);
  transition-property: border, background-color;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.text textarea::placeholder {
  color: rgba(116, 116, 116, 0.806);
  font-weight: 400;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.text_letter_counter {
  margin: 4px 15px 0 15px;
}

.text_letter_counter p {
  text-align: right;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.publish_post_back_buttons_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.publish_post_back_buttons {
  display: flex;
  gap: 17px;
}

.back button {
  background-color: var(--button_background-color);
  border: var(--button_border);
  box-shadow:
    var(--button_box-shadow);
  padding: 11px;
  border-radius: 12px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--button_color);
  letter-spacing: 0.5px;
  transition-property: border, background-color;
}

.publish_post button {
  background-color: var(--button_background-color);
  border: var(--button_border);
  box-shadow:
    var(--button_box-shadow);
  padding: 11px;
  border-radius: 12px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--button_color);
  letter-spacing: 0.5px;
  transition-property: border, background-color;
}

.creating_post_loader_wrap {
  display: flex;
  align-items: center;
}

.creating_post_loader {
  position: relative;
  bottom: 3.5px;
  margin-right: 7px;
  height: 21px;
  width: 21px;
}

@media (max-width: 1005px) {
  .create_post {
    margin-bottom: 60px;
    border-left: none;
    border-right: none;
  }
}

@media (min-width: 1000px) {
  .create_post button:hover {
    background-color: var(--button_hover);
    transition: var(--transition_background-color_hover_global);
  }
}

/* variables */
/* theme colors */
[data-creation-post-page-dark-theme="true"] {
  --button_background-color: #1e1e1e;
  --button_hover: #222222;
  --button_color: #8f8f8f;
  --button_border: transparent;
  --button_box-shadow: none;
  --textarea_border: 1.1px solid rgb(30, 30, 30);
}

[data-creation-post-page-dark-theme="false"] {
  --button_background-color: #ffffff;
  --button_color: #000000;
  --button_border: 1px solid rgb(225 223 223 / 34%);
  --button_box-shadow: 0 1px 6px rgb(132 134 136 / 9%),
    0 0px 2px rgb(138 140 143 / 16%);
  --button_hover: rgba(233, 236, 239, 0.437);
  --textarea_border: 1.1px solid #d8d8d8;
}

/* /theme colors */
/* /variables */