.post_wrap {
  background-color: var(--filling_background-color_global);
  position: relative;
  border: var(--border_disappears_in_dark_theme_global);
  border-bottom: var(--border_global);
  border-top: none !important;
}

.post_wrap:last-child {
  border-bottom: var(--border_disappears_in_dark_theme_global);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.post_wrap a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.post {
  padding: 15px;
}

.post_info_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_info {
  display: flex;
  align-items: center;
  border-radius: 28px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 4px 10px 4px 0;
}

.user_info:active {
  -webkit-backdrop-filter: saturate(180%) blur(2px);
  backdrop-filter: saturate(180%) blur(2px);
  background-color: var(--post_button_hover);
  transition: var(--transition_background-color_active_global);
}

.user_info a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.avatar {
  display: flex;
  position: relative;
}

.avatar img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
}

.no_avatar_icon {
  position: relative;
}

.no_avatar_icon svg {
  display: flex;
  fill: var(--fill_no_avatar_global);
  width: 47px;
  height: 47px;
}

.user_online_status_circle_icon_avatar {
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 34px;
}

.user_online_status_circle_icon_avatar svg {
  width: 8.5px;
  height: 8.5px;
  fill: #4bb34b;
  border-radius: 50%;
  background-color: #4bb34b;
  border: var(--user_online_status_circle_icon_border);
}

.user_online_status_circle_icon_no_avatar {
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 33px;
}

.user_online_status_circle_icon_no_avatar svg {
  width: 8.5px;
  height: 8.5px;
  fill: #4bb34b;
  border-radius: 50%;
  background-color: #4bb34b;
  border: var(--user_online_status_circle_icon_border);
}

.gif_circle_icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--fill_no_avatar_global);
  stroke: var(--fill_no_avatar_global);
  stroke-width: 1.2px;
  width: 47px;
  height: 47px;
}

.user_name_user_custom_id_wrap {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.user_name_wrap {
  display: flex;
}

.user_name {
  display: flex;
  align-items: center;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.user_name p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.user_custom_id {
  display: flex;
  align-items: center;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 220px;
}

.user_custom_id p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.post_image {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 15px 0;
  border-radius: 9px;
  background-size: 100%;
  border: var(--border_global);
}

.post_image img {
  width: 100%;
  max-height: 320px;
}

.post_image img[alt] {
  font-size: 0px;
}

.post_image img[alt]:after {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Helvetica";
  font-weight: 300;
  text-align: center;
  content: attr(alt);
  position: relative;
}

.word_gif_icon_main_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 220px;
}

.word_gif_icon_main_image svg {
  fill: var(--no_avatar_icon_fill);
  stroke: var(--no_avatar_icon_fill);
  width: 140px;
  height: 140px;
}

.post_title {
  line-clamp: 3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 12px;
}

.post_title h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 31px;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

.post_title a {
  color: var(--hashtag_color_global);
  text-decoration: none;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.post_text_preview {
  line-clamp: 6;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 11px;
}

.post_text_preview a {
  color: var(--hashtag_color_global);
  text-decoration: none;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.post_text_preview p {
  white-space: pre-line;
  line-height: 31px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}

.post_text_long {
  line-clamp: 13;
  -webkit-line-clamp: 13;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
}

.post_text_long p {
  white-space: pre-line;
  line-height: 31px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}

.post_text_long a {
  color: var(--hashtag_color_global);
  text-decoration: none;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.post_info_bottom {
  margin-top: 12px;
}

.post_info_bottom_part_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post_info_bottom_part_1_1 {
  display: flex;
  justify-content: flex-start;
}

.post_info_bottom_part_1_2 {
  gap: 8px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link_bookmark_repost_like_wrap {
  display: flex;
  gap: 10px;
}

.post_info_bottom_part_1_2 button {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 39px;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.post_info_bottom_part_1_2 button:active {
  background-color: var(--post_button_hover);
  transition: var(--transition_background-color_active_global);
}

.post_info_bottom_part_1_2_loader {
  height: 31px;
}

.messages {
  margin-right: 5px;
  stroke: var(--stroke_global);
}

.messages:active {
  background-color: var(--post_button_hover);
  transition: var(--transition_background-color_active_global);
}

.messages svg {
  width: 23px;
  height: 23px;
}

.link svg {
  width: 22px;
  height: 22px;
  stroke: var(--stroke_global);
}

.bookmark svg {
  width: 22px;
  height: 22px;
  stroke: var(--stroke_global);
}

.repost svg {
  width: 25px;
  height: 25px;
  stroke: var(--stroke_global);
}

.like_wrap {
  display: flex;
  align-items: center;
  gap: 1px;
}

.like_wrap p {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.like svg {
  width: 23px;
  height: 23px;
  stroke: var(--stroke_global);
  fill: none;
}

.like_liked svg {
  width: 23px;
  height: 23px;
  fill: var(--like_liked_svg_fill);
  stroke: var(--like_liked_svg_stroke);
}

.eye {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.eye svg {
  width: 17px;
  height: 17px;
  fill: #6f6d6d;
}

.eye p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.post_date_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.post_date_wrap p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  white-space: nowrap;
  color: var(--post_date_wrap_color);
}

.post_date_creation {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.post_date_update_wrap {
  display: flex;
  align-items: center;
}

.post_date_update {
  display: flex;
  gap: 7px;
}

.post_date_separator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 0 9px;
}

.post_date_separator svg {
  position: relative;
  bottom: 1px;
  stroke: var(--separator_svg_stroke);
}

.crystal_icon {
  display: flex;
  align-items: center;
}

.crystal_icon svg {
  fill: var(--fill_global);
  stroke: var(--stroke_global);
  stroke-width: 3;
  margin-left: 5px;
  width: 17px;
  height: 17px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.options:active {
  -webkit-backdrop-filter: saturate(180%) blur(2px);
  backdrop-filter: saturate(180%) blur(2px);
  background-color: var(--post_button_hover);
  transition: var(--transition_background-color_active_global);
}

.options svg {
  width: 26px;
  height: 26px;
  fill: var(--fill_global);
}

.editing {
  display: flex;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.editing_edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editing_delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu - post options */
.options_menu {
  right: 15px;
  top: 67px;
  border: var(--options_menu_border);
  border-radius: 8px;
  position: absolute;
  animation: fadeIn var(--transition_opening_global) forwards;
  opacity: 0;
  background-color: var(--filling_background-color_global);
  box-shadow: rgb(0 0 0 / 18%) 0.2px 0.2px 4px;
  z-index: 2;
  overflow: hidden;
}

.options_menu ul li {
  padding: 9px 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  line-height: 21px;
  position: relative;
}

.options_menu ul li:active {
  background-color: var(--item_hover_global);
  transition: var(--transition_background-color_active_global);
}

.options_menu ul li a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: var(--color_global);
}

.options_menu_fade_out {
  animation: fadeOut var(--transition_opening_global) forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* /Menu - post options */

/* @media */
@media (max-width: 1250px) {
  .post_date_wrap {
    display: grid;
    gap: 3px;
  }

  .post_date_separator {
    display: none;
    /* margin: 0 8px 0 0; */
  }

  .post_date_update_wrap {
    justify-content: center;
  }

}

@media (max-width: 1005px) {
  .post_wrap {
    border-left: none;
    border-right: none;
  }

  .post_wrap:last-child {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .post_image img {
    width: 100%;
    max-height: 520px;
  }
}

@media (max-width: 500px) {
  .user_name {
    max-width: 190px;
  }

  .user_custom_id {
    max-width: 190px;
  }
}

@media (max-width: 370px) {
  .options {
    position: absolute;
    right: 15px;
    top: 23px;
  }
}

@media (max-width: 365px) {
  .post_date_wrap p {
    font-size: 15px;
  }
}

@media (max-width: 325px) {
  .post_date_wrap p {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .options:hover {
    -webkit-backdrop-filter: saturate(180%) blur(2px);
    backdrop-filter: saturate(180%) blur(2px);
    background-color: var(--post_button_hover);
    transition: var(--transition_background-color_hover_global);
  }

  .post_info_bottom_part_1_2 button:hover {
    background-color: var(--post_button_hover);
    transition: var(--transition_background-color_hover_global);
  }

  .options_menu li:hover {
    background-color: var(--item_hover_global);
    transition: var(--transition_background-color_hover_global);
  }

  .user_info:hover {
    -webkit-backdrop-filter: saturate(180%) blur(2px);
    backdrop-filter: saturate(180%) blur(2px);
    background-color: var(--post_button_hover);
    transition: var(--transition_background-color_hover_global);
  }

  .post_wrap:hover {
    background-color: var(--post_wrap_background-color_hover);
    transition: var(--transition_background-color_hover_global);
  }

  .post_wrap a:hover {
    color: var(--hashtag_color_hover_global);
    transition: var(--transition_background-color_hover_global);
  }
}

/* /@media */

/* variables */
/* theme colors */
[data-post-preview-dark-theme="true"] {
  --post_wrap_background-color_hover: rgb(22, 22, 22);
  --post_button_hover: rgba(42, 42, 42, 0.416);
  --like_liked_svg_fill: rgb(136, 39, 39);
  --like_liked_svg_stroke: rgb(136, 39, 39);
  --options_menu_border: 1.1px solid rgb(29, 29, 29);
  --separator_svg_stroke: #5f727f;
  --post_date_wrap_color: #5f727f;
  --post_views_fill: #5f727f;
  --no_avatar_icon_fill: #535353;
  --user_online_status_circle_icon_border: 0.8px solid #121212;
}

[data-post-preview-dark-theme="false"] {
  --like_liked_svg_fill: red;
  --like_liked_svg_stroke: red;
  --post_button_hover: rgba(228, 231, 234, .563);
  --post_wrap_background-color_hover: rgba(242, 244, 245, 0.723);
  --options_menu_border: none;
  --separator_svg_stroke: #929ba3;
  --post_date_wrap_color: #929ba3;
  --post_views_fill: #929ba3;
  --no_avatar_icon_fill: rgb(209, 209, 209);
  --user_online_status_circle_icon_border: 0.8px solid #ffffff;
}

/* /theme colors */
/* /variables */