.privacy {
  padding: 25px 15px 15px 15px;
  margin-bottom: var(--content_margin_bottom_global);
  background-color: var(--filling_background-color_global);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none !important;
  border: var(--border_disappears_in_dark_theme_global);
}

@media (max-width: 1005px) {
  .privacy {
    margin-bottom: 60px;
    border-left: none;
    border-right: none;
  }
}

.privacy h1 {
  padding-bottom: 15px;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 31px;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
}

.privacy h2 {
  padding: 5px 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 31px;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
}

.privacy p {
  font-size: 19px;
  line-height: 31px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
}