.user_information {
  border-bottom: var(--border_global);
  padding-bottom: 18px;
  background-color: var(--filling_background-color_global);
  border-left: var(--border_disappears_in_dark_theme_global);
  border-right: var(--border_disappears_in_dark_theme_global);
  transition-property: border, background-color;
}

.user_information_no_posts {
  border: var(--border_disappears_in_dark_theme_global);
  border-top: none !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 18px;
  background-color: var(--filling_background-color_global);
  transition-property: border, background-color;
}

.banner {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--banner_background_color);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner img[alt] {
  font-size: 0;
}

.banner img[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--filling_background-color_global);
  content: attr(alt);
}

.banner_buttons_wrap {
  display: flex;
  gap: 7px;
  position: absolute;
  -webkit-backdrop-filter: saturate(180%) blur(0.5px);
  backdrop-filter: saturate(180%) blur(0.5px);
  background-color: rgba(136, 136, 136, 0.345);
  padding: 2px 3px;
  bottom: 9px;
  right: 15px;
  border-radius: 8px;
  opacity: 0;
}

.banner_buttons_wrap_show {
  opacity: 1;
}

.banner_buttons_wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.banner_save_loader {
  position: absolute;
  bottom: 16.5px;
  right: 57px;
  height: 18px;
  width: 18px;
}

.add_banner_button svg {
  width: 30px;
  height: 30px;
}

.save_banner_button svg {
  width: 29px;
  height: 29px;
}

.delete_banner_button svg {
  width: 26px;
  height: 26px;
}

/* user options - menu */
.user_options {
  display: flex;
  position: absolute;
  right: 15px;
  justify-content: flex-end;
}

.user_options button {
  position: absolute;
  top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.user_options button:active {
  -webkit-backdrop-filter: saturate(180%) blur(2px);
  backdrop-filter: saturate(180%) blur(2px);
  background-color: var(--item_hover_global);
  z-index: 3;
  transition: var(--transition_background-color_active_global);
}

.user_options button svg {
  width: 26px;
  height: 26px;
  fill: var(--fill_global);
}

.user_options_menu {
  top: 49px;
  margin-left: 15px;
  border-radius: 8px;
  position: absolute;
  animation: fadeIn var(--transition_opening_global) forwards;
  opacity: 0;
  border: var(--user_options_menu_border);
  background-color: var(--user_options_menu_background-color);
  box-shadow: rgb(0 0 0 / 18%) 0.2px 0.2px 4px;
  z-index: 2;
}

.user_options_menu:active {
  background-color: var(--item_hover_global);
  transition: var(--transition_background-color_active_global);
}

.user_options_menu ul li a {
  display: flex;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  text-decoration: none;
  color: var(--color_global);
}

.user_options_menu_fade_out {
  animation: fadeOut var(--transition_opening_global) forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* /user options - menu */
.banner_image_loading_bar_wrap {
  width: 65px;
  position: absolute;
  top: 223px;
  right: 25px;
  z-index: 2;
}

.banner_image_loading_error {
  position: absolute;
  top: 218px;
  right: 24px;
  z-index: 1;
}

.banner_image_loading_error p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.avatar_name_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.avatar_name_wrap_without_name_without_about {
  margin-bottom: 10px;
}

.avatar_name {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 0 15px;
}

.avatar_name_without_about {
  margin-bottom: 35px;
}

.avatar_wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 150px;
}

.avatar {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  border: var(--avatar_border);
  transition-property: border, background-color;
  background-color: var(--filling_background-color_global);
  bottom: -25px;
  margin: auto;
  width: 150px;
  height: 150px;
}

.avatar_without_name {
  top: -27px;
  bottom: 0;
}

.avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.avatar img[alt] {
  font-size: 0;
}

.avatar img[alt]:after {
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--filling_background-color_global);
  content: attr(alt);
}

.avatar_image_loading_bar_wrap {
  width: 35px;
  position: absolute;
  top: 125px;
  z-index: 2;
}

.avatar_image_loading_error {
  position: absolute;
  top: 122px;
  z-index: 1;
}

.avatar_image_loading_error p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.no_avatar_icon svg {
  fill: var(--no_avatar_icon_fill);
  width: 120px;
  height: 120px;
}

.avatar_save_loader {
  position: absolute;
  top: 15px;
  right: 52px;
  height: 18px;
  width: 18px;
}

.gif_circle_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gif_circle_icon svg {
  fill: var(--no_avatar_icon_fill);
  stroke: var(--no_avatar_icon_fill);
  stroke-width: 1.3px;
  width: 123px;
  height: 123px;
}

.word_gif_icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--no_avatar_icon_fill);
  stroke: var(--no_avatar_icon_fill);
  width: 150px;
  height: 150px;
}

.avatar_buttons_wrap {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 53px;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.avatar_buttons_wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.avatar_buttons {
  display: flex;
  gap: 6px;
  border-radius: 8px;
  -webkit-backdrop-filter: saturate(180%) blur(0.5px);
  backdrop-filter: saturate(180%) blur(0.5px);
  background-color: rgba(136, 136, 136, 0.345);
  padding: 2px 3px;
}

.avatar_buttons_wrap_show {
  opacity: 1;
}

.add_avatar_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.add_avatar_button svg {
  width: 30px;
  height: 30px;
}

.save_avatar_button svg {
  width: 29px;
  height: 29px;
}

.delete_avatar_button svg {
  width: 26px;
  height: 26px;
}

.name_id_wrap {
  margin: 15px 0 0 17px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  overflow: hidden;
  justify-content: flex-start;
  position: relative;
  gap: 3px;
}

.name {
  display: flex;
  max-width: 100%;
}

.name p {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-wrap: nowrap;
}

.id {
  display: flex;
  max-width: 100%;
}

.id p {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.about_wrap {
  width: 100%;
}

.about {
  margin: 38px 15px 0 15px;
}

.about_without_name {
  margin: 55px 15px 0 15px;
}

.about_wrap p {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
  line-height: 30px;
}

.about_wrap a {
  color: var(--hashtag_color_global);
  text-decoration: none;
  position: relative;
}

.about_wrap a:hover {
  color: var(--hashtag_color_hover_global);
  transition: var(--transition_background-color_hover_global);
}

.crystal_icon {
  display: flex;
  align-items: center;
}

.crystal_icon svg {
  position: relative;
  fill: var(--fill_global);
  stroke: var(--stroke_global);
  stroke-width: 3;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.additional_information_wrap {
  margin: 17px 15px 5px 15px;
}

.additional_information_wrap_button {
  display: flex;
  justify-content: flex-start;
}

.additional_information_wrap_button button {
  background-color: var(--button_background-color);
  border: var(--button_border);
  box-shadow:
    var(--button_box-shadow);
  padding: 6px 8px 6px;
  border-radius: 9px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--button_color);
  letter-spacing: 0.5px;
}

.loader_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
}

.loader {
  height: 21px;
  width: 21px
}

.user_online_status_circle_icon {
  position: absolute;
  right: 19px;
  top: 124.5px;
  z-index: 1;
}

.user_online_status_circle_icon svg {
  width: 14px;
  height: 14px;
  fill: #4bb34b;
  border-radius: 50%;
  background-color: #4bb34b;
  border: var(--user_online_status_circle_icon_border);
}

.last_seen_wrap {
  position: absolute;
  left: -5px;
  top: 70px;
  border-radius: 9px;
  padding: 8px 11px 8px;
  border: var(--last_seen_short_icon_border);
  cursor: pointer;
  background-color: var(--filling_background-color_global);
  backdrop-filter: saturate(180%) blur(2px);
  z-index: 2;
  border: var(--button_border);
  box-shadow: var(--button_box-shadow);
}

.last_seen_wrap p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  color: var(--color_global);
}

.last_seen_short_icon {
  position: absolute;
  right: 10px;
  top: 125px;
  border-radius: 10px;
  padding: 2px 6px 2px;
  border: var(--last_seen_short_icon_border);
  cursor: pointer;
  background-color: #0000006b;
  backdrop-filter: saturate(180%) blur(2px);
}

.last_seen_short_icon p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  white-space: nowrap;
  color: var(--last_seen_short_icon_color);
}

@media (max-width: 1005px) {
  .banner_image_loading_bar_wrap {
    top: 265px;
  }

  .banner_image_loading_error {
    top: 265px;
  }

  .user_information_no_posts {
    border-left: none;
    border-right: none;
    margin-bottom: 65px;
  }

  .user_information {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 1080px) {

  /* .last_seen_short_icon {
    right: -40px;
    top: 79px;
  } */
  .avatar_save_loader {
    top: -14px;
    right: 53px;
  }

  .banner {
    justify-content: flex-start;
  }

  /* .word_gif_icon {
    position: relative;
    bottom: 30px;
  } */
  .avatar_name_without_about {
    margin-bottom: 50px;
  }

  .avatar_name_wrap_without_name_without_about {
    margin-bottom: 20px;
  }

  .about_without_name {
    margin: 25px 15px 0 15px;
  }

  .avatar_name {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 15px;
  }

  .name_id_wrap {
    margin-left: 0;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    width: 100%;
    max-width: 390px;
  }

  .avatar {
    top: -10px;
    bottom: 0;
  }

  .about {
    margin: 15px 15px 0 15px;
  }

  .name_id_wrap::after {
    display: block;
  }
}

@media (max-width: 950px) {
  .banner_image_loading_bar_wrap {
    top: 220px;
  }

  .banner_image_loading_error {
    top: 170px;
  }
}

@media (max-width: 500px) {

  /* .additional_information_wrap_button {
    justify-content: center;
  } */
  .last_seen_wrap {
    left: -50px;
  }
}

@media (max-width: 450px) {
  .name_id_wrap {
    max-width: 270px;
  }
}

@media (min-width: 1000px) {
  .user_options button:hover {
    -webkit-backdrop-filter: saturate(180%) blur(2px);
    backdrop-filter: saturate(180%) blur(2px);
    background-color: var(--item_hover_global);
    z-index: 3;
    transition: var(--transition_background-color_hover_global);
  }

  .user_options_menu:hover {
    background-color: var(--item_hover_global);
    transition: var(--transition_background-color_hover_global);
  }

  .additional_information_wrap button:hover {
    background-color: var(--button_hover);
    transition: var(--transition_background-color_hover_global);
  }
}

/* variables */
/* theme colors */
[data-user-information-dark-theme="true"] {
  --banner_background_color: #1a1a1a56;
  --avatar_border: 4.5px solid #121212;
  --last_seen_short_icon_border: 1.5px solid #121212;
  --last_seen_short_icon_color: #dcdcdc;
  --user_online_status_circle_icon_border: 2.5px solid #121212;
  --no_avatar_icon_fill: #535353;
  --user_options_menu_background-color: #121212;
  --user_options_menu_border: 1.1px solid rgb(29, 29, 29);
  --button_background-color: #1e1e1e;
  --button_hover: #2a2a2a;
  --button_active: #363636;
  --button_color: #8f8f8f;
  --button_border: 1.1px solid rgb(29, 29, 29);
  --button_box-shadow: none;
}

[data-user-information-dark-theme="false"] {
  --banner_background_color: #f4f4f456;
  --avatar_border: 4.5px solid #ffffff;
  --last_seen_short_icon_border: 1.5px solid #ffffff;
  --last_seen_short_icon_color: #ffffff;
  --user_online_status_circle_icon_border: 2.5px solid #ffffff;
  --no_avatar_icon_fill: rgb(209, 209, 209);
  --user_options_menu_background-color: rgb(255, 255, 255);
  --user_options_menu_border: none;
  --button_background-color: #ffffff;
  --button_color: #000000;
  --button_border: 1px solid rgb(225 223 223 / 34%);
  --button_box-shadow: 0 1px 6px rgb(132 134 136 / 9%),
    0 0px 2px rgb(138 140 143 / 16%);
  --button_hover: rgba(233, 236, 239, 0.437);
}

/* /theme colors */
/* /variables */